title = "Карточка портфолио — EDDISON AGENCY"
url = "/portfolio/card/:cardSlug"
layout = "default"
is_hidden = 0
==
<?php
use Itome\Portfolio\Models\Cards;
use Itome\Portfolio\Models\Types;
function onStart() {
    $typeSlug = $this->param('slug');
	$cardSlug = $this->param('cardSlug');
    $item = Cards::where('slug', $cardSlug)->first();
    if (!$item) return Redirect::to('/404');
    
    $prev = Cards::where('is_published', 1)->where('created_at', '<', $item->created_at)->latest('created_at')->first();
    $next = Cards::where('is_published', 1)->where('created_at', '>', $item->created_at)->oldest()->first();
    
    $this['prevCard'] = $prev;
    $this['nextCard'] = $next;
    $this['card'] = $item;
	$this->page['meta_title'] = $item->title .  ' — EDDISON AGENCY ';

}
?>
==
<main class="view" data-app-layout="view" data-app-layout-namespace="examples">
    <section class="section portfolio_page">
      <div class="portfolio_page__container container container--first"> 
        <div class="portfolio_page__top"> 
          <a class="portfolio_page__back_btn pagination__arrow" href="/portfolio" data-history-back="" data-scroll="" data-scroll-fadeup="">
            <svg class="icon icon--back">
              <use xlink:href="#arrow_small"></use>
            </svg> {{'Все проекты'|_}}
          </a>
          <div class="portfolio_page__top_wrap">
            {% if card.type %}
                <div class="portfolio_page__tags portfolio_page__tags--top portfolio_card__tags" data-scroll="" data-scroll-fadeup=""> 
                    {% for type in card.type %}
                        <div class="portfolio_card__tag">{{type.name}}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <h1 class="portfolio_page__title" data-scroll="" data-scroll-fadeup="">{{card.title}}</h1>
            <div class="portfolio_page__tags portfolio_page__tags--bottom" data-scroll="" data-scroll-fadeup="">
              <p class="portfolio_page__date">{{card.created_at|date("d M Y")}}</p>
              <p class="portfolio_page__date portfolio_page__date--grey">{{card.place}}</p>
            </div>
          </div>
        </div>
        <div class="portfolio_page__img" data-scroll="" data-scroll-fadeup="">
            <img class="image" data-lazy="data-lazy" data-src="{{card.main_image.path|resize(1840, 872, {mode: 'crop'})}}" alt=""/>
        </div>
        <div class="portfolio_page__content"> 
          {% if card.client %}
              <div class="portfolio_page_block">
                <h2 class="portfolio_page_block__title" data-scroll="" data-scroll-fadeup="">{{'Клиент'|_}}</h2>
                <div class="portfolio_page_block__text" data-scroll="" data-scroll-fadeup="">{{card.client|raw}}</div>
              </div>
          {% endif %}
          {% if card.result %}
              <div class="portfolio_page_block">
                <h2 class="portfolio_page_block__title" data-scroll="" data-scroll-fadeup="">{{"Что мы делали"|_}}</h2>
                <div class="portfolio_page_block__text" data-scroll="" data-scroll-fadeup="">{{card.result|raw}}</div>
              </div>
          {% endif %}
          {% if card.about %}
              <div class="portfolio_page_block">
                <h2 class="portfolio_page_block__title" data-scroll="" data-scroll-fadeup="">{{"О проекте"|_}}</h2>
                <div class="portfolio_page_block__text" data-scroll="" data-scroll-fadeup="">{{card.about|raw}}</div>
              </div>
          {% endif %}
        </div>
        {% if card.images|length %}
            <div class="portfolio_page__gallery" data-scroll="" data-scroll-fadeup="" data-gallery-slides='[{% for image in card.images %}{% if loop.last != loop.index%}"{{image.path}}",{% else %}"{{image.path}}"{% endif %}{% endfor %}]'>
                {% for image in card.images %}
                    {% if loop.index0 <= 4 %}
                       <div class="portfolio_page__img portfolio_page__img--gallery" data-linked-modal="modal_gallery" data-id="{{ loop.index0}}" data-scroll="" data-scroll-fadeup="">
                           <img class="image" data-lazy="data-lazy" data-src="{{image.path|resize(600, 400)}}" alt=""/>
                      </div>
                    {% endif %}
                {% endfor %}
                {% if card.images|length > 5  %}
                  <div class="portfolio_page__img portfolio_page__img--empty portfolio_page__img--gallery" data-linked-modal="modal_gallery" data-id="5" data-scroll="" data-scroll-fadeup="">
                    <p class="text">Еще {{card.images|length - 5}} {{"itome.portfolio::lang.card.photos"|transchoice(card.images|length - 5)}}</p>
                  </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="portfolio_page__bottom pagination" data-scroll="" data-scroll-fadeup="">
            {% if prevCard %}
                <a class="pagination__arrow pagination__arrow--back" href="/portfolio/card/{{prevCard.slug}}">
                    <svg class="icon icon--back">
                      <use xlink:href="#arrow_small"></use>
                    </svg>
                    {{"Предыдущий проект"|_}}
                </a>
            {% endif %}
            {% if nextCard %}
                <a class="pagination__arrow" href="/portfolio/card/{{nextCard.slug}}" style="margin-left:auto;">
                    {{"Следующий проект"|_}}
                    <svg class="icon icon--forward">
                      <use xlink:href="#arrow_small"></use>
                    </svg>
                </a>
            {% endif %}
        </div>
      </div>
    </section>
</main>