title = "Портфолио — EDDISON AGENCY"
url = "/portfolio/:slug"
layout = "default"
is_hidden = 0
==
<?php
use Itome\Portfolio\Models\Years;
use Itome\Portfolio\Models\Cards;
use Itome\Portfolio\Models\Types;

function onStart() {
    $year = request()->get('year');
    $typeSlug = $this->param('slug');
    $type = Types::where('slug', $typeSlug)->with('cards')->first();  
    
    if (!$type) return \Redirect::to('404');

      
    $this['cards'] = $type->cards()->with('type')->whereIsPublished(true)->whereHas('year', function ($query) use ($year) {
        if ($year) {
            return $query->where('name', $year);
        } else {
            return $query;
        }    
    })->get()->sortBy('sort_order');
    $this['types'] = Types::all();
    $this['activeCategory'] = $type;
    $this->page['title'] = $type->name;
    $this['paramsYear'] = $year;
    $this['years'] = Years::all();
}
?>
==
<main class="view" data-app-layout="view" data-app-layout-namespace="examples">
    <section class="section portfolio">
      <div class="portfolio__container container container--first"> 
        <div class="section_block">
          <h1 class="section_block__title" data-scroll="" data-scroll-fadeup="">{{'portfolio'|_}}</h1>
        </div>
        <div class="portfolio__filters portfolio_filters" data-scroll="" data-scroll-fadeup="">
          <div class="portfolio_filters__wrap"> 
              
              <a class="portfolio_filters__btn {{activeCategory ? '' : 'is-active'}}" href="/portfolio">{{'Все проекты'|_}}</a>
              
              {% for type in types %}
              
              <a class="portfolio_filters__btn {{activeCategory.id == type.id ?  'is-active' : '' }}" href="/portfolio/{{type.slug}}">{{type.name}}</a>
              
              {% endfor %}
              <!-- <a class="portfolio_filters__btn" href="#">MICE</a>
              <a class="portfolio_filters__btn" href="#">CREATIVE</a>
              <a class="portfolio_filters__btn" href="#">CONSTRUCTION</a> -->
          </div>
          <div class="portfolio_filters__dropdown" data-dropdown="" data-dropdown-name="years" data-dropdown-readonly="true" {% if paramsYear %}data-default-value='{"key":"{{paramsYear}}","value":"{{paramsYear}}"}'{% else %}data-default-value='{"key":"{{'Все года'|_}}","value":""}'{% endif %} data-dropdown-options='[{"key":"{{'Все года'|_}}","value":""},{% for year in years %}{% if loop.last != loop.index%}{"key":"{{year.name}}","value":"{{year.name}}"},{% else %}{"key":"{{year.name}}","value":"{{year.name}}"}{% endif %}{% endfor %}]'></div>
        </div>
        <div class="portfolio__content">
            
            {% for card in cards %}
            
            <a class="portfolio_card" href="/portfolio/card/{{card.slug}}" data-scroll="" data-scroll-fadeup="">
            <div class="portfolio_card__img" data-scroll="" data-scroll-fadeup="">
                <img class="image" data-lazy="data-lazy" data-src="{{card.main_image.path}}" alt=""/>
            </div>
            <div class="portfolio_card__tags" data-scroll="" data-scroll-fadeup=""> 
              {% for type in card.type %}
                    <div class="portfolio_card__tag">{{type.name}}</div>
                {% endfor %}
            </div>
            <p class="portfolio_card__text" data-scroll="" data-scroll-fadeup="">{{card.title}}</p>
        </a>
        
        {% endfor %}
        
        </div>
      </div>
    </section>
</main>