title = "Портфолио — EDDISON AGENCY"
url = "/portfolio"
layout = "default"
is_hidden = 1
==
<?php
use Itome\Portfolio\Models\Years;
use Itome\Portfolio\Models\Cards;
use Itome\Portfolio\Models\Types;

function onStart() {
    $year = request()->get('year');
    $typeSlug = $this->param('type');
    // $brand = Brand::whereSlug($brandSlug)->first();
    $types = $this['types'] = Types::all();
    $this['cards'] = Cards::whereIsPublished(true)
    ->whereHas('year', function ($query) use ($year) {
        if ($year) {
            return $query->where('name', $year);
        } else {
            return $query;
        }
    })->with('main_image')->orderBy('sort_order')->get();
    
    $this['paramsYear'] = $year;
    $this['years'] = Years::all();
}
?>
==
<main class="view" data-app-layout="view" data-app-layout-namespace="examples">
    <section class="section portfolio">
      <div class="portfolio__container container container--first"> 
        <div class="section_block">
          <h1 class="section_block__title" data-scroll="" data-scroll-fadeup="">Портфолио</h1>
        </div>
        <div class="portfolio__filters portfolio_filters" data-scroll="" data-scroll-fadeup="">
          <div class="portfolio_filters__wrap"> 
              
              <a class="portfolio_filters__btn {{activeCategory ? '' : 'is-active'}}" href="/portfolio">Все проекты</a>
              
              {% for type in types %}
              
              <a class="portfolio_filters__btn {{activeCategory.id == type.id ?  'is-active' : '' }}" href="/portfolio/{{type.slug}}">{{type.name}}</a>
              
              {% endfor %}
              <!-- <a class="portfolio_filters__btn" href="#">MICE</a>
              <a class="portfolio_filters__btn" href="#">CREATIVE</a>
              <a class="portfolio_filters__btn" href="#">CONSTRUCTION</a> -->
          </div>
          <div class="portfolio_filters__dropdown" data-dropdown="" data-dropdown-name="years" data-dropdown-readonly="true" {% if paramsYear %}data-default-value='{"key":"{{paramsYear}}","value":"{{paramsYear}}"}'{% else %}data-default-value='{"key":"Все года","value":""}'{% endif %} data-dropdown-options='[{"key":"Все года","value":""},{% for year in years %}{% if loop.last != loop.index%}{"key":"{{year.name}}","value":"{{year.name}}"},{% else %}{"key":"{{year.name}}","value":"{{year.name}}"}{% endif %}{% endfor %}]'></div>
        </div>
        <div class="portfolio__content">
            
            {% for card in cards %}
            
            <a class="portfolio_card" href="/portfolio/card/{{card.slug}}" data-scroll="" data-scroll-fadeup="">
            <div class="portfolio_card__img" data-scroll="" data-scroll-fadeup="">
                <img class="image" data-lazy="data-lazy" data-src="{{card.main_image.path}}" alt=""/>
            </div>
            <div class="portfolio_card__tags" data-scroll="" data-scroll-fadeup=""> 
              <div class="portfolio_card__tag">{{card.type.name}}</div>
            </div>
            <p class="portfolio_card__text" data-scroll="" data-scroll-fadeup="">{{card.title}}</p>
        </a>
        
        {% endfor %}
        
        </div>
      </div>
    </section>
</main>