.container {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: em(1840);
	margin: 0 auto;

	@media(max-width: 1900px) {
		max-width: em(1500);
	}

	@media(max-width: 1440px) {
		max-width: em(1200);
	}

	@media(max-width: 1220px) {
		max-width: em(740);
	}

	@media(max-width: 500px) {
		padding-left: em(12);
		padding-right: em(12);
	}

	&--first {
		padding-top: em(124);

		@media(max-width: 1800px) {
			padding-top: em(102);
		}

		@media(max-width: 1300px) {
			padding-top: em(92);
		}

		@media(max-width: 500px) {
			padding-top: em(84);
		}
	}
}
