[data-dropdown] {
	position: relative;

	width: em(214);

	transition: z-index 0s .5s;

	@media(max-width: 1900px) {
		width: em(160);
	}

	&.on-focus {
		z-index: 1000;

		transition: z-index 0s 0s;		
	}

	[data-dropdown-input] {
		width: 100%;
		padding: .75rem 1rem;
		border-radius: 16px;
		background-color: #000;
		border: 1px solid #696969;

		font-weight: 400;
		font-size: em(20);
		line-height: em(28,20);
        color: #fff;

		transition: border .2s;
        
		cursor: pointer;

		@media(max-width: 1900px) {
			font-size: em(16);
			line-height: em(24,16);

			padding: .5rem .75rem;
			border-radius: 12px;
		}

		@media(max-width: 1220px) {
			font-size: em(14);
			line-height: 1.25rem;

			border-radius: 10px;
		}


		&::placeholder {
			color: #fff;
			font-size: 1em;
		}

		&:hover {
			border: 1px solid $c-primary;
		}

		&.is-value {
			border: 1px solid $c-primary;
		}
	}

	[data-dropdown-arrow] {
		position: absolute;
		top: 50%;
		right: 1em;

		width: 20px;
		height: 20px;

		background-image: url($assetsPath + '/img/arrow_dropdown.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		transform: translate3d(0, -50%, 0) scaleY(1);

		transition: transform .2s;

		@media(max-width: 1900px) {
			width: 16px;
			height: 16px;

			right: .75rem;
		}

		// &.is-value {
		// 	background-image: url($assetsPath + '/img/arrow-dropdown-blue.svg');
		// }

	}

	[data-dropdown-list] {
		position: absolute;
		width: 100%;
		height: fit-content;
		top: em(60);
		right: 0;
		left: 0;
		z-index: 500;

		display: flex;
		flex-direction: column;
		align-items: flex-start;

		padding: 0;

		border-radius: 16px;
		border: 1px solid #696969;
		background: #000;
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);

		overflow: hidden scroll;

		transform: translate3d(0, .5em, 0);
		opacity: 0;

		transition: opacity .2s, transform .2s;

		pointer-events: none;

		@media(max-width: 1900px) {
			top: em(48);
			border-radius: 12px;
		}

		@media(max-width: 1900px) {
			top: em(42);
			border-radius: 10px;
		}

		.simplebar-content {
			height: 100%;

			display: flex;
			flex-direction: column;
		}

		.simplebar-vertical {
			background: transparent;
			border-radius: 0;
			width: 2px;
			height: calc(100% - 2em);
			top: 1em;
			right: 3px;

			.simplebar-scrollbar {
				background: #BDBDBD;
			}
		}
	}

	&.on-focus [data-dropdown-list] {
		transform: translate3d(0, 0, 0);
		opacity: 1;

		pointer-events: all;
	}

	&.on-focus [data-dropdown-input] {
		// background: #F3F5F7;
	}

	&.on-focus [data-dropdown-arrow] {
		transform: translate3d(0, -50%, 0) scaleY(-1);
	}

	[data-dropdown-option] {
		width: 100%;
		padding: .75rem 1rem;

		color: #fff;
		background: #000;
		font-weight: 500;
		font-size: em(20);
		line-height: em(28,20);
		text-align: left;

		transition: background .2s;	
		
		@media(max-width: 1900px) {
			font-size: em(16);
			line-height: em(24,16);
			padding: .5rem .75rem;
		}
		
		@media(max-width: 1220px) {
			font-size: em(14);
			line-height: 1.25rem;
			padding: .5rem .75rem;
		}

		&:hover {
			background: $c-primary;
			color: #000;
		}

		&.is-active {
			background: $c-primary;
			color: #000;
		}
	}
}

