.not_found {
    height: 100vh;

    &__container {
        height: 100%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__number {
        color: #373737;

        font-size: em(200);
        line-height: 1em;
        font-weight: 700;

        margin-bottom: 1rem;

        @media(max-width: 500px) {
            font-size: em(160);

            margin-bottom: 1.75rem;
        }
    }

    &__title {
        font-size: em(44);
        line-height: em(48,44);
        font-weight: 600;
        letter-spacing: -0.02em;
        font-feature-settings: 'clig' off, 'liga' off;

        @media(max-width: 500px) {
            font-size: em(32);
            line-height: 110%;
        }
    }

    &__text {
        color: #B2B2B2;

        font-size: em(18);
        line-height: 144%;
        font-feature-settings: 'clig' off, 'liga' off;

        margin-top: .75rem;

        @media(max-width: 500px) {
            font-size: em(14);
            line-height: 1.25rem;
        }
    }

    &__btn {
       margin-top: 1.875rem;

       @media(max-width: 500px) {
        margin-top: 1.5rem;
       }
    }
}