.portfolio {

    &__content {
        margin-top: em(68);

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: em(52) em(28);

        @media(max-width: 1900px) {
            margin-top: em(50);
            gap: em(40) em(28);
        }

        @media(max-width: 1440px) {
            gap: em(36) em(28);
        }

        @media(max-width: 1220px) {
            grid-template-columns: repeat(2,1fr);
            gap: em(36) em(20);
            margin-top: em(40);
        }

        @media(max-width: 500px) {
            grid-template-columns: 100%;
            gap: em(32);
            margin-top: em(32);

        }
    }



    &__more_filters {
        margin-top: 30px;
    }
}

.portfolio_more_filters {

    &__btn {
        display: flex;
        align-items: center;
        gap: 7px;

        font-size: 18px;
        color: white;

        transition: opacity .2s;

        .isActive & {

            img {
                transform: scale(-1);
            }
        }

        &:hover {
            opacity: .6;
        }

        img {
            width: 16px;
            height: 15px;
            margin-top: 2px;

            transition: transform .3s;
        }
    }

    &__content {
        display: none;
        margin-top: 20px;

        max-width: 70%;
        flex-wrap: wrap;


        @media (max-width: 1440px) {
            max-width: 80%;
        }

        @media (max-width: 1300px) {
            max-width: 100%;
        }

        .isActive & {
            display: flex;
        }
    }
}
